div.bar {
	background-color: #5f5f5f;
	max-width: 3000px;
	height: 40px;
	border: 0px solid #A9FDF6;
	list-style: none;
	padding-left: 80px;
	margin: 0px;
	padding-right: 150px;
}
div.block {
	width: 200px;
	height: 40px;
	float: left;
	text-align: center;
}
div.block:link, div.block:visited{
	background-color: #5f5f5f;
}
div.block:hover, div.block:active{
	background-color: #2e2f2e;
}
div.left{
	float: left;
}
div.right{
	float: right;
}
a.href{
	font-size: 32px;
	color: #f1f1f1;
	text-decoration: none;
	font-family: awesome;
}
