div.bar {
	background: url(bar.png) repeat-x;
	max-width: 3000px;
	height: 40px;
	border: 3px solid #A9FDF6;
	list-style: none;
	padding-left: 50px;
	margin: 0px;
}
a.href {
	width: 200px;
	height: 40px;
	float: left;
	font-size: 36px;
	color: #8550DC;
	text-decoration: none;
}
a.href:link, a.href:visited{
	background: url(bar.png) repeat-x;
}
a.href:hover, a.href:active{
	background-color: black;
}
a.left{
	float: left;
}
a.right{
	float: right;
}
