body{
	background-color: #d3f6ff;
	margin: 0;
}
p{
	font-family: Georgia;
	font-style: italic;
	font-size: 20px;
}
div.container {
	max-width: 3000px;
	height: 600px;
	border: 0px;
	background-color: inherent;
	margin-left: 50px;
	margin-top: 0px;
	margin-right: 25px;
	margin-bottom: 0px;
}
div.parallel {
	box-sizing: border-box;
	min-height: 600px;
	border: 0px;
	background-color: inherent;
	float: left;
}
div.img {
	min-width: 500px;
	max-width: 800px;	
	padding-left: 50px;
	background-image: url(self.png);
	background-repeat: no-repeat;
	background-position: center;
}
div.text{
	max-width: 800px;
	padding-left: 50px;
}
